<% include header.ejs %>
<script type="text/javascript">

var xOffset = <%=mapvalues.offsetX%>;
var yOffset = <%=mapvalues.offsetY%>;
var sizeX = <%=mapvalues.sizeW%>;
var sizeY = <%=mapvalues.sizeH%>;
var updateEvery = <%=mapvalues.pointIntervalMs%>;

</script>
<div>
  <button type="button" class='btn btn-success action' data-action='/api/local/action/start'>Start</button>
  <button type="button" class='btn btn-success action' data-action='/api/local/action/pause'>Pause</button>
  <button type="button" class='btn btn-success action' data-action='/api/local/action/resume'>Resume</button>
  <button type="button" class='btn btn-success action' data-action='/api/local/action/dock'>Dock</button>
  <button type="button" class='btn btn-success action' data-action='/api/local/action/stop'>Stop</button>
  <button type="button" class='btn btn-info action' data-action='/api/local/info/sys'>Test Sys</button>
  <a type="button" class='btn btn-warning' id='download' onclick='downloadCanvas();'>Download Image</a>
  <button type="button" class='btn btn-danger' onclick='clearMap();'>Clear map</button>
  <button type="button" class='btn btn-info' onclick='resetMap();'>Reset (doesn't wokr)</button> <span class=''></span>
  <button type="button" class='btn btn-danger' onclick='toggleMapping();'>Start/Stop mapping</button> <span class='' id='mapStatus'></span>
  <div>
    Update every: <input type='text' id='updateevery' size='5' value=''/>ms.
    Canvas size: w:<input type='text' class='metrics' id='sizew' size='5' value=''/> h:<input class='metrics' type='text' id='sizeh' size='5' value=''/>
    Offsets: x:<input type='text' class='metrics' id='offsetx' size='5' value=''/> y:<input class='metrics' type='text' id='offsety' size='5' value=''/> <button type="button" onclick='saveValues();'>Save values</button>
  </div>

  Last point: <span class='data' id='last'></span>
  Mission Time: <span class='data' id='mission'></span>min
  Mission: <span class='data' id='nMssn'></span>
  <span id='binRow'>Bin present: <span class='data' id='bin'></span></span>
  <span id='detectedPadRow'>Detected pad: <span class='data' id='detectedPad'></span></span>
  <span id='tankPresentRow'>Tank present: <span class='data' id='tankPresent'></span></span>
  <span id='lidClosedRow'>Lid closed: <span class='data' id='lidClosed'></span></span>
  Cycle: <span class='data' id='cycle'></span>
  Phase: <span class='data' id='phase'></span>
  Flags: <span class='data' id='flags'></span>
  Battery: <span class='data' id='batPct'></span>%
  Error: <span class='data' id='error'></span>
  Sqft: <span class='data' id='sqft'></span>
  expireM: <span class='data' id='expireM'></span>min
  rechrgM: <span class='data' id='rechrgM'></span>min
  notReady: <span class='data' id='notReady'></span>
  theta: <span class='data' id='theta'></span>
  x: <span class='data' id='x'></span>
  y: <span class='data' id='y'></span>
  <div>Command response: <div id='apiresponse'>ok</div></div>

</div>
    <svg id="path_layer" width = "100%" height = "100%">
      <g>
        <path/>
      </g>
    </svg>


<script src="/js/map.js"></script>

<% include footer.ejs %>
